<div>
    <div >
    
        <ion-item class="buscar">
          <ion-icon slot="start" name="search"></ion-icon>
          <ion-input placeholder="Buscar"></ion-input>
        </ion-item>
     
    </div>
    <div class="mapa">
      
        <iframe
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEEP6osXjErnjBLUw3x0OmnamNCew1tCg
          &q=Space+Needle,Seattle+WA">
      </iframe>
    </div>
</div>




        
        <ion-button>
            Ver paradas cercanas 
            <ion-icon name="arrow-up-outline" class="icon"></ion-icon>
        </ion-button>
    