<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MOVE SMART</ion-title>
    </ion-toolbar>
  </ion-header>
 <!-- <ion-content>
    <ion-list>
      <ion-item routerLink="/menu-nav/tabs/Principal">Principal</ion-item>
      <ion-item routerLink="/menu-nav/tabs/Mapa">Mapa</ion-item>
      <ion-item routerLink="/menu-nav/tabs/Rutas">Rutas</ion-item>
    </ion-list>
  </ion-content>-->
</ion-menu>

<!-- Main content where the tabs will be shown -->
<div class="ion-page" id="main-content">
  
    
     
        <ion-menu-button></ion-menu-button>

 
  <ion-content>
    <ion-router-outlet></ion-router-outlet> <!-- Donde se mostrarán las pestañas -->
  </ion-content>
</div>
