<div class="container-padre">
  <div class="container">

    <div class="flex-item">
      <h1 class="title">MOVE SMART</h1>
      <h2 class="sub-title">¿A dónde quieres ir?</h2>
    </div>
  
    <ion-item>
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-input placeholder="Buscar"></ion-input>
    </ion-item>

    
  
  </div>

</div>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let rutaApi of rutas">
      <ion-card>
        <ion-card-title>{{ rutaApi.nombre_ruta }}</ion-card-title>
        <img alt="ruta" src="../../assets/camion.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Paradas cercanas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Consultar horario
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-button>
  Ver todas las rutas
  <ion-icon name="arrow-up-outline" class="icon"></ion-icon>
</ion-button>




