
<div class="background-container flex-container">
 
  <div class="flex-item">
    <h1 class="title">MOVE SMART</h1>
    <h2 class="sub-title">¿A dónde quieres ir?</h2>
  </div>
  <div >
    
      <ion-item>
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input placeholder="Buscar"></ion-input>
      </ion-item>
   
  </div>
<div class="mapa">
  
  <iframe
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEEP6osXjErnjBLUw3x0OmnamNCew1tCg
    &q=Space+Needle,Seattle+WA">
</iframe></div>
</div>
