<div class="content">
  <form>
    <div class="items">
      <input type="nombre"  name="nombre" value="Nombre Completo">
    </div>
    <div class="items">
      <input type="email"  name="email" value="Correo Eletrónico">
    </div>
    <div class="items">
      <input type="text"  name="telefono" value="Telefono">
    </div>
    <div class="items">
      <input type="text"  name="contrasena" value="Contraseña">
    </div>
    <button expand="full" >REGISTRAR</button>
    <div>
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </div>
  </form>

</div>
